.container {
    width: 100%;
    margin: 0 auto;
    background-color:#780103
}

.h1 {
    text-align: center;
    font-size: 30px;
    color: antiquewhite;
}

.voltar button {
    width: 50px;
    height: 20px;  
    margin: 0px 40px; background: #fede00; 
    border: none;
     
}

.boxcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards img {
    width: 300px;
    height: 300px;
}

.nome p {
    text-align: center;
    color: aliceblue;
}

/* .name {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
} */

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

