.container {
  background-color:#780103;
  padding: 10px;
}

.h1 {
  text-align: center;
    font-size: 30px;
    color: #fff;
}

.h2 {
  text-align: center;
}

.voltar button {
  width: 50px;
    height: 20px;  
    margin: 0px 40px; 
    background: #fede00; 
    border: none;
}

.name {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.card2 img {
  width: 300px;
  height: 300px;
}

.hist {
  display: flex;
}

.box {
  display: flex;
  background:#000000;
  margin: 70px;
  height: 300px;
}

.box p {
  color: #fff;
  margin: 25px 25px;
  background: #000000;
}

.characters {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 62px;
}

.characters div {
  padding: 5px 10px;
  width: 370px;
  margin: 5px 5px;
  background:#000000;
  color: #fff;
}

.characters div p {
  padding: 5px;
  text-align: center;
}

.todos {
  display: flex;
  background: white;
}

@media screen and (max-width: 660px) {

  .h2 {
    font-size: 50px;
    padding: 10px;
  }

  .container {
    height: 100%;
  }
  
  .card2 img {
    width: 800px;
    height: 800px;  
}


.voltar button {
  width: 170px;
  height: 50px; 
  margin-left: 73px;
  font-size: 30px;
}

.name {
  text-align: center;
  font-size: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  height: 100vh;
}

.box p {
  display: flex;
  margin-top: 50px;
  width: 800px;
  text-align: center;
  padding: 5px;
}

.characters  {
  display: flex;
  flex-direction: column;
  margin-top: 480px;
  padding: 20px 0px;
  height: 100vh;
}

.characters div {
  width: 781px;
  text-align: center;
  margin-top: 30px;
}

.characters p {
  font-size: 40px;
}

}