html,
body {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  background: #ef061c;
  /* background: linear-gradient(yellow, red);
  background-repeat: no-repeat; */
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
} */
