.container {
  margin: 0 auto;
  width: 100%;
  background-image: url(https://free4kwallpapers.com/uploads/originals/2020/04/29/marvel-avengers-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: bottom;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.input {
  display: flex;
  justify-content: center;
}

.input input {
  background: #F5ff00;
  width: 250px;
  height: 30px;
  margin-top: 20px;
}

.button button {
  background: #F5ff00;
  height: 34px;
}

@media screen and (max-width: 600px) {
  .container  {
    width: 1307px;
    background-image: url(https://i.pinimg.com/originals/24/92/00/249200c431fe811110761709b303fcaf.jpg);
    height: 1973px;
    width: 960px;
    margin-top: 0px;
  }

  .title h1 {
   display: none;
  }

  .input input {
    width: 300px;
    height: 50px;
    font-size: 35px;
    /* margin-top: -10px; */
    border-radius: 25px;
  }

  .button button {
    width: 100px;
    height: 51px;
    font-size: 27px;
    margin-top: 130px;
    border-radius: 25px;
  }
 
}

